# Section 1: Python Bootcamp for Data Science

>**Today's Lectrure:**

- Python Syntax
- Python Comments
- Python Variables
- Python Data Types - part 1: Numbers, Strings, Lists, Casting

## Python Syntax & Comments

Python syntax can be executed by writing directly in the code cells (see the following examples)

In [1]:
# print the results (This is a comment)
print("This is a comment")

This is a comment

In [3]:
# you can directly print the output without using print()
# this only uses for print one output each time
"Hello, World!"

'Hello, World!'

In [31]:
# what if you don't include the quotation marks?
Hello, world! # to print strings you need quotation marks (we will talk about this later)

SyntaxError: invalid syntax (2759521002.py, line 2)

In [4]:
# print the values (Comments can be used to explain Python code and make the code more readable.)

x = "Hello, world!" # Comments can be used to prevent execution when testing code.

In [5]:
# Python variables are the objects storing data values
# In the previous cell, x = "Hello, world!"
# x is a variable
# A variable is created the moment you first assign a value to it.

y = 5

print(x)
print(y)
print(x+y)

Hello, world!
5

TypeError: can only concatenate str (not "int") to str

## Rules for naming variables in Python

>**Variable Names:**

1. Try to use short name (e.g., x and y) or a more descriptive name (age, class, job_description). 
2. Must start with a letter
3. Cannot start with a number
4. No spaces between
5. Can contain letters and numbers
5. Case-sensitive (age, Age and AGE are three different variables)

In [6]:
# legal variable names

myname = "John"
myName = "John"
my_name = "John"
_myName = "John"
MYNAME = "John"
my1stName = "John" #...

print (myname, myName, my_name, _myName, MYNAME, my1stName) # you can print multiple variables together

John John John John John John

In [7]:
# illegal variable names
# the following syntax will generate errors when you run them

1stName = "John"
my-name = "John"
my name = "John"

print(1stName, my-name, my name)

SyntaxError: invalid decimal literal (3893433957.py, line 4)

In [8]:
# you can assign many values to multiple variables

firstName, lastName = "John", "Smith"
print(firstName)

John

In [9]:
# Exercise 1: Can you print the lastName?
print(lastName)

Smith

In [10]:
# Exercise 2: write three variables and assign them "Orange", "Apple", and "Banana"
o = "Orange"
a = "Apple"
b = "Banana"

# print the three variables
print(o,a,b)

Orange Apple Banana

In [11]:
# you can pack the values into a list (we will talk about this later)
# then unpack them with different variables

fruits = ["Orange", "Apple", "Banana"] # this is a list of fruits
a, b, c = fruits
print(c)

Banana

In [13]:
# You can also use the + operator to output multiple variables
# from the above example
# must be of same data type
print(firstName + lastName)
print(firstName + " " + lastName) # add a space in between

JohnSmith
John Smith

## Python Data Types

| Type           | Python Name | Description           | Examples |
|:----------------|:-------------|:-----------------------|:----------|
| Integers       | `int`         | Whole numbers         | 1, 2     |
| Floating point | `float`       | Numbers with decimals | 1.5      |
| Strings        | `str`         | Texts. Words.         | "Hello!" 'world' "1"|
| Lists          | `list`        | Ordered sequence of objects| ["Hello!", 1, 2, 1.5]|
| Dictionaries   | `dict`        | A collection of key-value pairs, which map the key to their associated values.| {"Hello!": 1, "world": 2}|
| Tuples         | `tup`         | Ordered unchangable sequence of objects. Used to store multiple items in a single variable.| ("Hello!", 1, 2, 1.5)|
| Sets           | `set`         | Unordered collection of unique objects|{"Hello!",1,2,1.5}|
| Booleans       | `bool`        | Logical value indicating `True` or `False`.| 0 == 1 is False|


## Python Data Type - Part 1: Numbers

There are two numeric types in Python:

- `int`
- `float`

In [14]:
# integer
d = 1

# float
f = 1.5
g = -87.7e100 #Scientific format

In [15]:
type(d)

int

To check the data type, we can use type()

In [16]:
print(type(d))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'float'>

### Type Conversion

You can convert from one type to another with the int(), float()

In [17]:
# convert from int to float:
cd = float(d)

# check the data type
print(type(cd))

<class 'float'>

In [18]:
# Exercise 3: convert variable f from float to int:
fi = int(f)

# check the data type
print(type(fi))

<class 'int'>

### Basic Arithmetic

In [19]:
# Addition
2+1

3

In [20]:
# Subtraction
2-1

1

In [21]:
# Multiplication
2*2

4

In [22]:
# Division
3/2

1.5

In [23]:
# Powers
2**3

8

In [24]:
# Can also do roots this way
4**0.5

2.0

In [25]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [26]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

### Using variables to run the arithmetic

In [27]:
# Let's use the above variables d = 1 and f = 1.5

d = 1
f = 1.5 # this is a duplicate step, just for the ease to read

d+d+f

3.5

In [28]:
# we can reassign the values to a variable

d = -3

d+d+f

-4.5

## Python Data Type - Part 1: Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks. 

Like the above examples, "Hello, world!" is a string.

In [29]:
# Exercise 4: Can you print all the string variables from the above examples?
print(lastName)
print(firstName)
print(o,a,b)

Smith
John
Orange Orange Apple

In [30]:
# single quotation vs. double quotation

sentence1 = "I can speak English."
sentence2 = 'I can speak French.'

print(sentence1, sentence2)

I can speak English. I can speak French.

In [31]:
# Be careful with quotes!
sentence3 = 'I'm an American.'

SyntaxError: unterminated string literal (detected at line 2) (3197765748.py, line 2)

In [32]:
# In this case, you need double quoatation 
sentence3 = "I'm an American."

print(sentence3)

I'm an American.

Strings can record text information and it is a *sequence*, which allows Python to keep track of every element in the string as a sequence. 

For example, Python understands the string "hello" to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter (h), or the last letter (o)).

- **Character:**
 h e l l o
- **Index:**
 0 1 2 3 4
- **Reverse Index:** 
 0 -4 -3 -2 -1
 
 (In some of cases, you don't know how long the string is and want to return the last item.)
 
<b><span style="color:red">Python starts counting at 0.</span></b>

### Basic syntax for strings

Check the length of a string

In [33]:
# we can use len () to check the length of a string
# len() counts all of the characters in the string, including spaces and punctuation.

print(len("Hello"))
print(len("world"))
print(len("Hello!"))
print(len("Hello world!"))

5
5
6
12

Strings are a sequence, which means Python can use indexes to call parts of the sequence. 

In Python, we use brackets <code>[]</code> after an object to call its index.

In [34]:
# assign a string

s = "Hello, world!"
print(s)

Hello, world!

In [35]:
# Show the first element/character (in this case a letter)

s[0]

'H'

In [36]:
# Show the last element

s[-1]

'!'

In [38]:
# Exercise 5: print the 4th element of s (notice: indexing starts at 0 for Python)
s[3]

'l'

### Slicing a string

**Slicing** allows you to grab a subsection of a string. The syntax is:

>[start : stop : step]

- *start*: is a numberical index for the slice start
- *stop*: is the index will go up to (but not include)
- *step*: is the size of the "jump" you take

We can use a : to perform slicing which grabs everything up to a designated point. For example:

In [39]:
# start
# Grab everything past the first term all the way to the length of s which is len(s)

s[1:]

'ello, world!'

In [40]:
# stop
# Grab everything UP TO the 3rd index ("up to, but not including")

s[:3] # does not include the 4th element (index: 3)

'Hel'

In [41]:
# start : stop
# Grab characters from index 1 to 6 (not include)

s[1:6]

'ello,'

In [42]:
# stop
# Grab everything but the last letter

s[:-1]

'Hello, world'

In [43]:
# Everything
s[:]
s
print(s)

Hello, world!

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [44]:
# step
# Grab everything, counts the elements 1 by 1

s[::1]

'Hello, world!'

In [49]:
# step
# Grab everything, counts the elements from the 1st one then skip the next one

s[::2]

'Hlo ol!'

In [47]:
# step
# counts a string backwards

s[::-1]

'!dlrow ,olleH'

In [50]:
# Exercise 6: Grab the characters of mystring from character "r" to the end:
mystring = "character"
mystring[3:]

'racter'

In [53]:
# Exercise 7: Grab the characters of mystring from index 3 to 8

mystring[3:8]
# mystring[4:5]
# mystring[4:9]

'racte'

In [54]:
# Exercise 8: Does the character of index 8 include in the results of exercise 7? 
# (answer in comments)
"NO"

'NO'

### Modifying strings

1. Unchangable/Immutability

In [55]:
name = "John"

In [56]:
# you cannot change the string by reassigning a value to it, for example:
name[0] = "p"

TypeError: 'str' object does not support item assignment

In [57]:
# to change one element in strings
# method 1: string concatenation - combine multiple strings together

print("p" + name[1:])

pohn

In [58]:
# cannot combine string and numbers

print("p" + name[1:] + 30) # to combine numbers, we can use format() (in later this lecture)

TypeError: can only concatenate str (not "int") to str

In [59]:
# Exercise 9: Can you print "Johnson" based on the variable "name"?
print(name + "son")

Johnson

2. Execute attributes/fuctions

In [60]:
# Anaconda Python default functions
# to query/run a function

s = "Hello, world!" # we have this before, and this is just for a reminder and ease to read

s.upper() # upper() is one of the default functions, will change lower cases to upper

'HELLO, WORLD!'

In [61]:
# be aware, running a function will not change the original variable
# it is still the same when we run s
s

'Hello, world!'

In [62]:
# please remember to put () when you run/execute functions
# if you forget to put ()
# this is what you will get
s.upper

In [63]:
# lower case
s.lower()

'hello, world!'

### String Formatting

This is often used in the print statement for formatting objects into strings.

In [64]:
print("Hello, world! Today is a {} day.".format("sunny")) # string.format()

Hello, world! Today is a sunny day.

In [65]:
print("Hello, world! Today is a {} day. I {} it!".format("sunny","love")) # insert by order

Hello, world! Today is a sunny day. I love it!

In [66]:
print("Hello, world! Today is a {1} day. I {0} it!".format("love","sunny"))

Hello, world! Today is a sunny day. I love it!

In [67]:
print("Hello, world! Today is a {word2} day. I {word1} it!".format(word1="love",word2="sunny")) # assign variables

Hello, world! Today is a sunny day. I love it!

In [68]:
# This is usually used when you want to insert some values
result = 200/3*7-45

print("The result is {}.".format(result))

The result is 421.6666666666667.

In [69]:
# what if you only want 3 decimals?
# you can use {value:width.precision f}

print("The result is {r:1.3f}.".format(r=result))
print("The result is {0:1.2f}.".format(result))# three places passed by "."

The result is 421.667.
The result is 421.67.

In [70]:
# method 2 for python 3.6 and above

name = "John Smith"

print("Hello, his name is {}.".format(name))
print(f"Hello, his name is {name}.")

Hello, his name is John Smith.
Hello, his name is John Smith.

In [72]:
# use method 2

print(f"The result is:{result:{1}.{6}}")

The result is:421.667

Note that with f-strings, *precision* refers to the total number of digits, not just those following the decimal.

In [74]:
# Excersice 10: Can you change the above syntax and get the ouput of only 2 decimals?
print(f"The result is:{result:{1}.{5}}")

The result is:421.67

In [75]:
# add more variables
age = 30
print(f"{name} is {age} years old.")

John Smith is 30 years old.

In [72]:
# method 3: use %s (Formatting with placeholders)
# You can use %s to inject strings into the print statements. 
# % modulus

print("Hello, his name is %s." % "Jane Smith")

Hello, his name is Jane Smith.

In [76]:
# multiple values
print("%s is %s years old." % ("Jane Smith", 33))

# or pass by variable names

print("%s is %s years old." % (name, age))

Jane Smith is 33 years old.
John Smith is 30 years old.

In [77]:
# you can also use % to print numberic results

print("The result is %1.3f." % (result))

The result is 421.667.

In [78]:
# Note the differences

print("The result is %s." % (result)) # %s converts whatever it sees into a string, including integers and floats.
print("The result is %d." % (result)) # %d converts numbers to integers, without rounding. 
print("The result is %1.3f." % (result)) # %f converts by width.precision, with rounding

The result is 421.6666666666667.
The result is 421.
The result is 421.667.

In [79]:
# % is good for print multiple formats
# %r deliver the string representation of the object, including quotation marks and any escape characters.

print('Name: %s, Age: %d, Occupation: %r' %('John Smith',30.3333,'Doctor'))
print('Name: %s, Age: %d, Occupation: %s' %('John Smith',30.3333,'Doctor'))

Name: John Smith, Age: 30, Occupation: 'Doctor'
Name: John Smith, Age: 30, Occupation: Doctor

## Refereces:

1. Udemy - The Complete Python Bootcamp From Zero to Hero in Python:https://www.udemy.com/course/complete-python-bootcamp/learn/lecture/9388534#overview
2. W3schools - Python Tutorial: https://www.w3schools.com/python/default.asp
3. Google Education - Python: https://developers.google.com/edu/python