# Section 1: Python Bootcamp for Data Science

## Python Data Type - Part 1: Numbers, Strings

## Python Data Types

| Type           | Python Name | Description           | Examples |
|:----------------|:-------------|:-----------------------|:----------|
| Integers       | `int`         | Whole numbers         | 1, 2     |
| Floating point | `float`       | Numbers with decimals | 1.5      |
| Strings        | `str`         | Texts. Words.         | "Hello!" 'world' "1"|
| Lists          | `list`        | Ordered sequence of objects| ["Hello!", 1, 2, 1.5]|
| Dictionaries   | `dict`        | A collection of key-value pairs, which map the key to their associated values.| {"Hello!": 1, "world": 2}|
| Tuples         | `tup`         | Ordered unchangable sequence of objects. Used to store multiple items in a single variable.| ("Hello!", 1, 2, 1.5)|
| Sets           | `set`         | Unordered collection of unique objects|{"Hello!",1,2,1.5}|
| Booleans       | `bool`        | Logical value indicating `True` or `False`.| 0 == 1 is False|

In [4]:
# Exercise 1: Use index slicing to grab the 5th element from each of the given variables independently.

variable_1 = "Analytics"
variable_2 = "Programming"
variable_3 = "MIS670"
print(variable_1[4])
print(variable_2[4])
print(variable_3[4])

y
r
7

In [12]:
# Exercise 2: Use formatted print .format() to print the results from the following calculation, round it to 3 decimals.

calculate = 4763 / 98

# print the results and state "The value of 3 decimals is:" 
# hint: {value:width.precision f} 

print("The value of 3 decimals is:{0:1.3f}.".format(calculate))

The value of 3 decimals is:48.602.

In [13]:
# Exercise 3: Use f-string to print the results from the above calculation, round it to 3 decimals.
# print the results and state "The value of 3 decimals is:"
# hint: {value:{width}.{the number of digits}}

print(f"The value of 3 decimals is:{calculate:{1}.{5}}")

The value of 3 decimals is:48.602


## Python Data Type - Part 2: Lists

List a *sequence* in Python and is used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are `Tuple`, `Set`, and `Dictionary`, all with different qualities and usage.

Lists are created using square brackets, and use commas separating every element in the list.

In [21]:
# let's create a list
# "fruits" is a variable name
# the elements inside [] are the items in fruits list

fruits = ["Orange", "Apple", "Banana", "Cherry", "Grape"]

In [19]:
# mixed object types list

fruits_price = ["Orange", 3.99, "Apple", 2.99, "Banana", 0.79, "Cherry", 4.99, "Grape", 5.99]

In [16]:
# unlike len(string), len(list) is counting the number of elements
# string

string = "Orange"
print(len(string))

print(len(fruits_price))

6
10

### Indexing and slicing

In [20]:
# works like string

fruits[0]

'Orange'

In [28]:
# Exercise 1: grab the 2nd to the 4th items of fruits
fruits[1:4]

['Apple', 'Banana', 'Cherry']

### Lists are mutable

#### Change certain values

In [29]:
# change the values of index 3 (4th element) from "Cherry" to "Dragon fruit"

print(f'The initial value of index 3 in fruits was:{fruits[3]}')
print("--------------------------------------------------------")

# change the values from "Cherry" to "Dragon fruit"

fruits[3] = "Dragon fruit"

print(f'The updated value of index 3 in fruits now is:{fruits[3]}')

The initial value of index 3 in fruits was:Cherry
--------------------------------------------------------
The updated value of index 3 in fruits now is:Dragon fruit

#### Add new elements/items

In [30]:
# method 1: list concatenation - combine two lists

fruits = fruits + ["Mango", "Kiwi"]
print(fruits)

['Orange', 'Apple', 'Banana', 'Dragon fruit', 'Grape', 'Mango', 'Kiwi']

In [31]:
# method 2: use append()

fruits.append("Passion fruit")
print(fruits)

['Orange', 'Apple', 'Banana', 'Dragon fruit', 'Grape', 'Mango', 'Kiwi', 'Passion fruit']

#### Remove list items

In [32]:
# method 1: use remove() to remove the sepecific value

fruits.remove("Dragon fruit")
print(fruits)

['Orange', 'Apple', 'Banana', 'Grape', 'Mango', 'Kiwi', 'Passion fruit']

In [34]:
# Exercise 2: method 2: use pop(index) to remove the item of index 4

fruits.pop(4)
# check the modified list
fruits

['Orange', 'Apple', 'Banana', 'Grape', 'Passion fruit']

In [35]:
# if you don't sepcify the index, use pop() to remove the last item

fruits.pop()
print(fruits)

['Orange', 'Apple', 'Banana', 'Grape']

#### Duplicate the items

In [36]:
# repeat each item twice

fruits * 2

['Orange', 'Apple', 'Banana', 'Grape', 'Orange', 'Apple', 'Banana', 'Grape']

In [37]:
# this operation doesn't modify the original fruits list in-place.
# let's check the length of fruits now

len(fruits)

4

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [38]:
# Exercise 3: let's check the length of fruits first
len(fruits)

4

In [39]:
# This code will have an Index Error

fruits[15] # fruits list doesn't contain these many items

IndexError: list index out of range

#### Sort a list ascending / descending

In [40]:
new_list = [1,4,5,2,3]

# Use sort to sort the list (in this numbers it will go ascending, in text will be in alphabetical order)
new_list.sort()

print(new_list)

[1, 2, 3, 4, 5]

In [41]:
# Use reverse to reverse order (this is permanent!)

new_list.reverse()

print(new_list)

[5, 4, 3, 2, 1]

In [42]:
# sort() also can be used for lists of strings
# it will sort the string alphabetically.

string_list = ["use", "This", "is", "apple","index","list", "Alpha", "Canada"]

# sort() starts with words beginning with caps, then small cases
string_list.sort() 
print(string_list)

['Alpha', 'Canada', 'This', 'apple', 'index', 'is', 'list', 'use']

## Mutability in Python

| Type           | Python Name | Mutability|
|:----------------|:-------------|:-----------------------|
| Integers       | `int`         | Immutable  | 
| Floating point | `float`       | Immutable | 
| Strings        | `str`         | Immutable| 
| Lists          | `list`        | Mutable| 
| Dictionaries   | `dict`        | Mutable|
| Tuples         | `tup`         | Immutable|
| Sets           | `set`         | Mutable|
| Booleans       | `bool`        | Immutable|

In [43]:
# let's recall when we apply build-in methods on immutable object

s = "Immutable"
s.upper()
print(s) # the function won't change the string
print(s.upper())

Immutable
IMMUTABLE

In [44]:
# It only changes when you assign a new value to this string variable
# but it is no longer the old variable 
s = s.upper()
print(s)

IMMUTABLE

In [46]:
# For mutable data types 
# the functions will change it directly
l = [1,2,3]
l.reverse()
print(l)

[3, 2, 1]

A variable in mutable data types is saving an address/container.

### Lists inside of a list (nesting)

In [47]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
# How many elements in matrix?
len(matrix)

3

In [49]:
# grab the first element of a list
# if it is a nested list, then the output will return a list

matrix[0]

[1, 2, 3]

In [50]:
# if you want to grab an item from a list in a nested list

matrix[0][1] # two steps, first get the list from the big list, then the item

2

In [51]:
# Exercise 7: grab "computer" from the given list

mydesk = ["cup", "books", ["folder", ["computer", "speaker"], "mouse"], ["napkins", "pens"]]
mydesk[2][1][0]

'computer'

## Python Data Type - Part 2: Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, mutable and do not allow duplicates.

`*As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.`

Dictionaries are written with curly brackets, and have keys and values:

In [52]:
# compare lists and dictionaries
# comma to separate the items

fruits_price = ["Orange", 3.99, "Apple", 2.99, "Banana", 0.79, "Cherry", 4.99, "Grape", 5.99]

print(type(fruits_price))

<class 'list'>

In [53]:
# a dictionary
# comma to separate the items
# each item is a key: value pair

fruits_d = {"Orange":3.99, "Apple":[0.99,2.99], "Banana":0.79, "Cherry":4.99, "Grape":{"price":5.99}}

print(type(fruits_d))

<class 'dict'>

In [57]:
# Exercise 8: check the length of the list and the dictionary
print(len(fruits_d))
print(len(fruits_price))

5
10

In [58]:
# you can save various data types in dictionaries
# and grab values using the key names

print(fruits_d["Apple"]) # prices for Apple; this is a list
print(fruits_d["Grape"]) # prince for Grape; this is a dictionary

[0.99, 2.99]
{'price': 5.99}

In [59]:
# print the first item of a key's values (list) in a dictionary

print(fruits_d["Apple"][0])
print(fruits_d["Orange"][0]) # this will return an error, 3.99 is a float not a list

0.99

TypeError: 'float' object is not subscriptable

In [60]:
# Exercise 5: Can you fix the above error?
fruits_d["Orange"]

3.99

In [67]:
# grab a value from a dictionary inside of a dictionary
# using multiple key names

print(fruits_d["Grape"]["price"])

5.99

Change new keys and values to dictionaries. **Dictionaries are mutable.**

Add keys and values to a dictionary:

In [68]:
d = {} # create an empty and new dictionary

d["Name"] = "John Smith" # assign a key "Name" with a value "John Smith"
d["Age"] = 30 # assign a key "Age" with a value "30"

print(d)

{'Name': 'John Smith', 'Age': 30}

In [62]:
# add new keys and values to an exsiting dictionary

d["Occupation"] = "Doctor"

print(d)

{'Name': 'John Smith', 'Age': 30, 'Occupation': 'Doctor'}

In [63]:
# change values to a specific key
# method 1: directly change the values of a key
d["Name"] = "Jane Smith"
print(d)

{'Name': 'Jane Smith', 'Age': 30, 'Occupation': 'Doctor'}

In [64]:
# method 2: using update()
d.update({"Name":"John Smith"})
print(d)

{'Name': 'John Smith', 'Age': 30, 'Occupation': 'Doctor'}

In [65]:
# remove a key and its values

d.pop("Occupation")
print(d)

{'Name': 'John Smith', 'Age': 30}

Print all the keys from a dictionary, using keys():

In [69]:
# Exercise 6: Print all the keys from fruits_d
fruits_d.keys()

dict_keys(['Orange', 'Apple', 'Banana', 'Cherry', 'Grape'])

Print all the values from a dictionary, using values()

In [70]:
# Exercise 7: print all the values from d and fruits_d
fruits_d.values()

dict_values([3.99, [0.99, 2.99], 0.79, 4.99, {'price': 5.99}])

### Dictionary cannot have duplicate keys

For example:

In [71]:
fruits_d = {"Orange":3.99, "Apple":[0.99,2.99], "Banana":0.79, "Cherry":4.99, 
            "Grape":{"price":5.99, "price":3.99}} # notice there are two keys called "price"
print(fruits_d)

# the new key will overwrite the existing values

{'Orange': 3.99, 'Apple': [0.99, 2.99], 'Banana': 0.79, 'Cherry': 4.99, 'Grape': {'price': 3.99}}

Check if a key in a dictionary:

In [72]:
# if the key exsits, print the values
# does not exsits

new = "Kiwi"

if new in fruits_d:
    print(f"Yes, {new} is here!")

In [73]:
# Exercise 9: does Orange in fruits_d, if yes, print "Yes, Orange is here!"

new = "Orange"

if new in fruits_d:
    print(f"Yes, {new} is here!")

Yes, Orange is here!

## Python Data Type - Part 2: Tuples

A tuple is a collection which is ordered and **immutable** (unchangeable).

In [74]:
# compare lists and tuples

lis_1 = ["iPad", "iPhone", "MacBook"]
tup_1 = ("iPad", "iPhone", "MacBook")
print(type(lis_1), type(tup_1))

<class 'list'> <class 'tuple'>

In [75]:
# slicing items

print(lis_1[1])
print(tup_1[1])

iPhone
iPhone

In [76]:
# Use index() to enter a value and return the index

tup_1.index('iPhone')

1

In [77]:
# you can't add or remove items from tuples
# because it is immutable

tup_1.append("Apple watch")
print(tup_1) # this will give you an error

AttributeError: 'tuple' object has no attribute 'append'

Tuples are used when you are passing around an object and need to make sure it does not get changed. **They provide convenient sources of data integrity.**

**Data integrity** defines the accuracy and consistency when maintaining data. It is essential for a system's design, implementation, and usage to save, process, or retrieve data. 

>If you want to change a tuple, you may need to change it to a list then modify the list. For example:

In [79]:
# use list() to convert it to a list
new_list = list(tup_1) 

# add a new item
new_list.append("Apple watch") 

# use tuple() to change it back to tuple
tup_1 = tuple(new_list) 
print(tup_1)

('iPad', 'iPhone', 'MacBook', 'Apple watch', 'Apple watch')

#### Notice: A tuple with one element requires a comma in Python

A single item tuple must have a trailing comma, such as (d,), otherwise it will show "can only concatenate tuple (not "str") to tuple".This is because tuples are constructed by the comma operator with or without enclosing parentheses.

In [80]:
# Or you can add tuple to a tuple
new_tup = ("Apple pencil",) 

# add tuple to a tuple
tup_1 += new_tup # += provides a convenient way to add a value to an existing variable 
                 # and assign the new value back to the same variable. 
print(tup_1)

('iPad', 'iPhone', 'MacBook', 'Apple watch', 'Apple watch', 'Apple pencil')

In [83]:
# Exercise 10: Add a tuple to an existing tuple

num_tup = (1,2,3)

# create a new tuple with single number 4 and add it to the num_t

new_tup = (4,)

num_tup += new_tup

# Exercise 11: Question: does the above operation changes the num_t? and why?
print("No, it reassigns")
num_tup

No, it reassigns

(1, 2, 3, 4)

## Python Data Type - Part 2: Sets

Sets only contain **unique** elements. They are unordered, **mutable**.

In [84]:
# sets are also using {}
# sets are will automatically remove the duplicates

fruits_set = {'Orange', 'Apple', 'Apple','Banana', 'Cherry', 'Apple', 
              'Mango', 'Kiwi', 'Kiwi'}
print(fruits_set)

{'Mango', 'Apple', 'Orange', 'Kiwi', 'Banana', 'Cherry'}

In [85]:
# use add() to add elements to sets

fruits_set.add("Pineapple")
print(fruits_set)

{'Mango', 'Apple', 'Orange', 'Kiwi', 'Banana', 'Cherry', 'Pineapple'}

In [86]:
# use union() to join two sets

fruit_price = {2.99, 0.99, 1.58, 4.26}
combine = fruits_set.union(fruit_price)
print(combine)

{0.99, 'Apple', 1.58, 'Orange', 2.99, 'Banana', 4.26, 'Pineapple', 'Mango', 'Kiwi', 'Cherry'}

## Python Data Type - Part 2: Booleans

Booleans represent one of two values: `True` or `False`.

In [87]:
print(1 == 0)

False

In [55]:
print(1 > 0)

True

In [88]:
True # capitalize T/F otherwise will be an error

True

### Python Data Types Summary

There are four fundamental data types in the Python programming language:

- **List** is a collection which is **ordered and mutable**. Allows duplicate members.
- **Tuple** is a collection which is **ordered and immutable**. Allows duplicate members.
- **Set** is a collection which is **unordered, immutable, and unindexed**. No duplicate members.
- **Dictionary** is a collection which is **ordered**(3.6+) **and mutable**. No duplicate members.

When choosing a data type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python Comparison Operators

These operators will allow us to compare variables and output a Boolean value (True or False).

#### Equal

In [89]:
2 == 2

True

#### Not Equal

In [90]:
2 != 1

True

#### Greater Than

In [91]:
2 > 1

True

#### Less Than

In [92]:
2 < 4

True

#### Greater Than or Equal to

In [93]:
10 >= 10

True

## Python Operators

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators (not included)

>#### Python Arithmetic Operators

|**Operator** | **Name** | **Example** |
|:------------|:---------|:------------|
|`+`          |Addition  |x + y |
|`-`|Subdtraction|x - y|
|`*`|Multiplication|x * y|
|`/`|Division|x / y|
|`%`|Modulus|x % y|
|`**`|Exponentiation|x ** y|
|`//`|Floor division*|x // y|

*The floor division will divide the first argument by the second and round the result down to the nearest whole number, making it equivalent to the math. 

>#### Python Assignment Operators

|**Operator** | **Example** | **Same As** |
|:------------|:---------|:------------|
|`=`|	x = 5|	x = 5|	
|`+=`|	x += 3|	x = x + 3|	
|`-=`|	x -= 3|	x = x - 3|	
|`*=`|	x * = 3|	x = x * 3|	
|`/=`|	x /= 3	|x = x / 3|	
|`%=`|	x %= 3|	x = x % 3|	
|`//=`|	x //= 3|	x = x // 3|	
|`**=`|	x ** = 3|	x = x ** 3|	

>#### Python Logical Operators

|**Operator** | **Description** | **Example** |
|:------------|:---------|:------------|
|`and`| 	Returns True if both statements are true|	x < 5 and  x < 10|	
|`or`|	Returns True if one of the statements is true|	x < 5 or x < 4|	
|`not`|	Reverse the result, returns False if the result is true|	not(x < 5 and x < 10)|

>#### Python Identity Operators

|**Operator** | **Description** | **Example** |
|:------------|:---------|:------------|
|`is`| 	Returns True if both variables are the same object|	x is y	|
|`is not`|	Returns True if both variables are not the same object|	x is not y|

>#### Python Membership Operators

|**Operator** | **Description** | **Example** |
|:------------|:---------|:------------|
|`in`| 	Returns True if a sequence with the specified value is present in the object|	x in y	|
|`not in`|	Returns True if a sequence with the specified value is not present in the object|	x not in y|

## Refereces:

1. Udemy - The Complete Python Bootcamp From Zero to Hero in Python:https://www.udemy.com/course/complete-python-bootcamp/learn/lecture/9388534#overview
2. W3schools - Python Tutorial: https://www.w3schools.com/python/default.asp
3. Google Education - Python: https://developers.google.com/edu/python