### Notice:

1. Mechanical correctness of your python codes: your codes must be accurate and no errors
2. Clarity of jupyter notebook and organization of outputs:

- The python codes you write must be accompanied with "comments" using # or markdown if necessary
- All outputs must be visible in your jupyter notebook. If necessary, explain the outputs using markdown.

 - A **grade of XF** can result from a breach of academic honesty. The F indicates failure in the course; the X indicates the reason is an Honor Pledge violation.” (http://www.k-state.edu/provost/resources/teaching/course.htm (Links to an external site.)) (See Academic Dishonesty below). 
- **Unauthorized collaboration** (including but not limited to collaborating with other students on lab, HW, the midterm exam, and the final project is forbidden) 
- **Unauthorized aid** (including but not limited to sharing your codes with other students, receiving codes from another)
- Plagiarism (including but not limited to copying words of another (on the Internet or articles) as your own)

**K-State Honor Code**

> **"On my honor, as a student, I have neither given nor received unauthorized aid on this academic work."**

**Your Name:**

In [1]:
# run the following syntax and sign with your full name
input("Please sign the E-Signature (full name):")

Please sign the E-Signature (full name): Tirus Wagacha

'Tirus Wagacha'

# Homework 1: Python Programming from Zero to Hero

This homework has 34 questions covering what we have learned in the first two weeks. The total points of this assignment are 70 points.

**Q1:** Assign 7 to variable x and 3 to y. What is x to the power of y? What is the result? (2 points)

In [3]:
# set the varaibles
x = 7
y = 3

x**y

343

**Q2:** Assign "Business" to variable *word* and print the letter "i" using its index. (2 points)

In [4]:
word = "Business"

word[3]

'i'

**Q3:** What is the data type of *word* (the above variable)? (1 point)

In [5]:
print(type(word))

<class 'str'>

**Q4:** Split this string (5 points)

welcome = "Welcome to MIS670."

into a list.

** hint: use split(). We do not have examples of this function, but I expect you to know how to Google a new function and use it in the future.

In [7]:
welcome = "Welcome to MIS670."
w = welcome.split(" ")
print(w)

['Welcome', 'to', 'MIS670.']

**Q5:** Given the following variables (8 points)

- welcome = "Welcome to MIS670."
- classT = 75
- lectures = 25
- labs = 6
- HWs = 7
- exam = 2
- final_project = "By email, students must inform the instructor of their project topic on October 28th. 2024  (Monday)."
- policy = "No late submissions and make-up exams are accepted."
- deadline1 = "Sep. 2nd (Mon.), 11:59 PM CT"

 Use .format() or print(f'string) to print the following string: 

*Welcome to MIS670.* This course focuses on text analytics, including *25* lectures, and each lecture is *75* minutes.
There are *7* homework assignments, *6* practice labs, and *2* exams -- Mid-term and final exams.
The final project is required for students targeting an "A" for the final grades. *By email, students must inform the instructor of their project topic on October 28th. 2024 (Monday).*
The policy of this course is "*No late submissions and make-up exams are accepted.*"
The deadline for this homework (Homework 1) is *Sep. 2nd (Mon.), 11:59 PM CT*.

** hint: replace the italic words with the relative variable names

In [8]:
# set the variables (2 points)
welcome = "Welcome to MIS670."
classT = 75
lectures = 25
labs = 6
HWs = 7
exam = 2
final_project = "By email, students must inform the instructor of their project topic on October 28th. 2024  (Monday)."
policy = "No late submissions and make-up exams are accepted."
deadline1 = "Sep. 2nd (Mon.), 11:59 PM CT"
# print the string (6 points)
print(f"{welcome} This course focuses on text analytics, including {lectures} lectures, and each lecture is {classT} minutes")
print(f"There are {HWs} homework assignments, {labs} practice labs, and {exam} exams -- Mid-term and final exams.")
print("The final project is required for students targeting an 'A' for the final grades.")
print(f"{final_project}")
print(f"The policy of this course is '{policy}'")
print(f"The deadline for this homework (Homework 1) is {deadline1}.")

Welcome to MIS670. This course focuses on text analytics, including 25 lectures, and each lecture is 75 minutes
There are 7 homework assignments, 6 practice labs, and 2 exams -- Mid-term and final exams.
The final project is required for students targeting an 'A' for the final grades.
By email, students must inform the instructor of their project topic on October 28th. 2024  (Monday).
The policy of this course is 'No late submissions and make-up exams are accepted.'
The deadline for this homework (Homework 1) is Sep. 2nd (Mon.), 11:59 PM CT.

**Q6:** What is 38 divided by 7? Round the values to 3 decimals. (2 points)

In [10]:
result = 38/7

print(f"The result is {result:{1}.{4}}")

The result is 5.429

**Q7:** Grab "Hello" from the list (4 points）

In [27]:
ls1 =  ["Apple",2,["Orange",4],[5,[100,3,['Hello']],23,11],(33,44)]

In [13]:
ls1[3][1][2]

['Hello']

**Q8:** What is the data type of (33,44) from the above list? (1 point)

In [15]:
print(type(ls1[-1]))

<class 'tuple'>

**Q9:** Print all the keys from variable "course_info" (2 points)

In [17]:
course_info = {"course number": "MIS670", "lecture time": 75, "assignments":7}

In [18]:
print(course_info.keys())

dict_keys(['course number', 'lecture time', 'assignments'])

**Q10:** What is the data type of course_info? (1 point)

In [19]:
print(type(course_info))

<class 'dict'>

**Q11:** Add {"final exam": 1} to ls1 (in Q7) (2 points)

In [28]:
ls1 = list(ls1)
ls1.append({"final exam": 1})
print(ls1)

['Apple', 2, ['Orange', 4], [5, [100, 3, ['Hello']], 23, 11], (33, 44), {'final exam': 1}]

**Q12:** Remove {"final exam": 1} from ls1 (2 points)

In [31]:
ls1.pop()
ls1

['Apple', 2, ['Orange', 4], [5, [100, 3, ['Hello']], 23, 11], (33, 44)]

**Q13:** Sort the values of ls2 (2 points)

In [32]:
ls2 = [343,5566,235,865443,245,246,533,765,234,75,24,5,12]

In [34]:
ls2.sort()
print(ls2)

[5, 12, 24, 75, 234, 235, 245, 246, 343, 533, 765, 5566, 865443]

**Q14:** Print the elements of ls1 one by one. (3 points)
    
** hint: use for loop

In [35]:
for i in ls1:
    print(i)

Apple
2
['Orange', 4]
[5, [100, 3, ['Hello']], 23, 11]
(33, 44)

**Q15:** Get all the kitchen appliances containing letter `"d"`. (5 points)

In [36]:
kitchen = ["Food processor","Microwave", "Dishwasher", "Hand blender", "Pressure cooker",
           "Mixer Grinder", "Electric Kettle","Rice cooker"]

In [46]:
d = []
for app in kitchen:
     if "d" in app:
         d.append(app)

print(d)

['Food processor', 'Hand blender', 'Mixer Grinder']

**Q16:** Add {"final exam": 1} to course_info (in Q9) (2 points)

In [50]:
course_info["final exam"] = 1
print(course_info)

{'course number': 'MIS670', 'lecture time': 75, 'assignments': 7, 'final exam': 1}

**Q17:** Remove "lecture time" : 75 from course_info (2 points)

In [51]:
course_info.pop('lecture time')

75

**Q18:** Add "lecture time" to course_tuple (3 points)

In [52]:
course_tuple = ('course number','MIS670', 'assignments', 'practice labs', 3, 'finale exam')

In [54]:
# convert to list since tuples are immutable
course_tuple = list(course_tuple)
# add value
course_tuple.append('lecture time')
#convert to back tuple
course_tuple = tuple(course_tuple)
print(course_tuple)

('course number', 'MIS670', 'assignments', 'practice labs', 3, 'finale exam', 'lecture time')

**Q19:** What is the data type of k (1 point)

k = {"Food processor","Microwave", "Dishwasher", "Hand blender", "Pressure cooker",
           "Mixer Grinder", "Electric Kettle","Rice cooker"}

In [56]:
k = {"Food processor","Microwave", "Dishwasher", "Hand blender", "Pressure cooker",
           "Mixer Grinder", "Electric Kettle","Rice cooker"}

print(type(k))

<class 'set'>

**Q20:** Add "Air fryer" to k (2 points)

In [58]:
k.add("Air fryer")
print(k)

{'Food processor', 'Dishwasher', 'Electric Kettle', 'Pressure cooker', 'Rice cooker', 'Mixer Grinder', 'Hand blender', 'Air fryer', 'Microwave'}

**Q21:** Write brief descriptions of the Python data types we have learned. (Use markdown lanaguage) (12 points)

(double click this cell and write down your answers)
### Data Types
- Numbers
   - Intergers : Whole Numbers
   - Floating Point : Numbers with decimals
- Strings: a sequence of characters enclosed by quotes
- The four fundamental data types of Python
   - **List** : an ordered,mutable sequence of objects
   - **Tuple** : ordered ,immutable sequence of objects
   - **Set** : unordered,mutable collection of unique objects
   - **Dictionary** : A collection of key-value pairs
- Boolean: logical value , True or False

**Q22:** Fizz & Buzz (8 points)

Use `for loop` and `if, elif, else` to prints the integers from 1 to 50. For multiples of 3 print "Fizz" instead of the number, and for the multiples of 5 print "Buzz". For numbers which are multiples of both 3 and 5 print "FizzBuzz".

** hint: the range of integers from 1 to 50 is range(1, 51), 51 is not included.

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

**Q23:** grab all the names having at least 4 letters from the given list (2.5 points)

In [1]:
names = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah"]

['Alice', 'Charlie', 'David', 'Frank', 'Grace', 'Hannah']

**Q24:** Stop the loop when see "Yellow" (not included) (5 points)

In [47]:
colors = ["White","Blue","Red","Green","Yellow","Black","Brown"]

White
Blue
Red
Green

**Q25:** i starts at 0, adding 1 to i each time and print i as long as i is less than 6 (5 points)

use while loop

0
1
2
3
4
5

**Q26:** print the numbers from 4 to 40 (included) that are multiples of 4 (3 points)

** hint: use range() and for loop

4
8
12
16
20
24
28
32
36
40

**Q27:** Based on the given table, create 3 dictionaries (Car1, Car2, Car3), then create 1 dictionary (Cars) that will contain the other 3 dictionaries: (5 points)

|Cars|Brands|Made year|Price|
|:---|:-----|:--------|:----|
|Car1|BMW|2021|45000|
|Car2|Ford|2022|30000|
|Car3|Toyota|2022|27000|

Car1: {'Brands': 'BMW', 'Made_year': 2021, 'Price': 45000}, Car2: {'Brands': 'Ford', 'Made_year': 2022, 'Price': 30000}, Car3:{'Brands': 'Toyota', 'Made_year': 2022, 'Price': 27000}
---------------------------------------
Cars: {'Brands': 'Toyota', 'Made_year': 2022, 'Price': 27000}

**Q28:** Print all the numbers from the given a list that satisfy the following conditions: (5 points)

- The number must be divisible by 3
- If the number is greater than 100, then skip it and move to the next number
- If the number is greater than 200, then stop the loop

In [55]:
numbers = [1,2,3,5,7,9,12,43,512,250,80,92,45,245,233,254]

3
9
12

**Q29:** Get all the prime numbers from 15 to 55 (included). (5 points)

** hint: Prime numbers are whole numbers greater than 1 and cannot be exactly divided by any whole number other than itself and 1 (e.g., 2, 3, 5, 7, 11). 

According to the definition, the first step is to check the number, does it greater than 1? Use `if`. If the number is greater than 1, stop the loop when the number can be divided by other numbers from 2 to this number. 

For example, 15 is greater than 1. From 2 to 15, 15 % 3 == 0; 15 % 5 == 0. (3 and 5 are from the range of 2 to 15). So 15 is not a prime number, and we need to stop the loop (use `break`) and try the next whole number, 16. Then `else` are the prime numbers.  

** hint: You can create a nested loop (a loop inside of a loop) to get the values. Be careful with the spaces.

17
19
23
29
31
37
41
43
47
53

**Q30:** Use list comprehension to have a list of all numbers between 1 and 40 that are divisible by 3. (One line code) (3 points)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

**Q31:** Replace all `"a"`s with `"e'`s in the string "Text analytics". (3 points)

Text enelytics

**Q32:** Please use online resources to check the related function for counting the frequency of letter `"e"` in the following sentence. (3 points)

*Text analytics is the process of extracting meaningful information and insights from textual data using algorithms and computational techniques, often involving natural language processing, pattern recognition, and statistical analysis.*

The letter 'e' appears 13 times in the sentence.

**Q33:** Please use online resources to check the related function for removing the common words from the above sentence. (5 points)

hint: common words also called stop words, are frequently occurring words in a language, like "the," "is," and "and," which are typically filtered out in text processing because they offer little value in understanding the essential meaning of a text.

In [23]:
# List of common stop words
stop_words = set(["the", "is", "at", "which", "and", "on", "in", "with", "an", "this", "some", "for", "of", "or", "a", "to"])

Text analytics process extracting meaningful information insights from textual data using algorithms computational techniques, often involving natural language processing, pattern recognition, statistical analysis.

**Q34:** Please learn from online resources and then list and explain at least 6 defult python string functions (aslo called methods). Use Markdown lanaguage (6 points)

- NOTICE: Do not copy and paste from online resources. Violating this policy will be considered plagiarism.

For example: join() and split() are very often used string methods. 

- `join()` can concatenate the elements of an list into a single string.
- `split()` can divide a string into a list of substrings based on a specified separator.

[Type your answers (your answers should exclude `join()` and `split()`]

## Excellent! You have finished homework 1